---
title: Jeet Academy | Academy
selected_menu: 'academy'
selected_submenu: 'presentation'
---

<%= partial 'academy/submenu' %>

<div class="main-content">
<h2 class="molot">L'academie</h2>
<div class="picture-box">
<%= image_tag 'academy/cours.jpg', width: 180, height: 150, style: 'float: left' %>
<div class="mask-picture">&nbsp;</div></div><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>La Jeet Academy est une école d'arts martiaux fondée en 2001 par David Bertrand. Elle propose des cours à Louvain-la-Neuve et à Bruxelles quatre soirs par semaine, ainsi que des stages de manière régulière le week-end.</p><p>Elle compte actuellement plus d'une centaine d'élèves. Elle est ouverte à tout pratiquant quel que soit son niveau et son expérience martiale. Elle est unique en Belgique de par les disciplines enseignées, son niveau d'instruction et ses méthodes d'entraînement. La qualité de son enseignement est reconnue au niveau national et international.</p><p>La Jeet Academy est reconnue en Belgique par la fédération belge de Kung Fu-Wu Shu, en Europe par l'Institut Martial de Genève et aux USA par l'Inosanto Academy of Martial Arts de Los Angeles.</p>
</div>


