---
title: Jeet Academy | Philosophy
selected_menu: 'academy'
selected_submenu: 'philosophy'
---

<%= partial 'academy/submenu' %>

<div class="main-content">
  <h2 class="molot">philosophie</h2>
  <div class="picture-box">
    <%= image_tag "academy/yingyang.jpg" %>
  </div><p>La philosophie du Jeet Kune Do de Bruce Lee est au coeur de la philosophie de la Jeet Academy:</p><ul><li>Vision réaliste et moderne du combat</li><li>Entraînement pluridisciplinaire</li><li>Recherche et evolution martiales</li><li>Developpement physique, technique et psychologique</li></ul><p>La Jeet Academy offre un enseignement moderne qui se focalise autant sur les arts martiaux que les sports de combats et la self-défense; autant sur les connaissances techniques que sur la capacité à les appliquer.</p><p>Elle forme des pratiquants, des combattants, des assistants et des instructeurs complets, compétents, serieux et ayant un état d’esprit ouvert et positif. Le respect de l'autre et le respect de soi sont au coeur de l'entraînement dans les trois disciplines.</p>
</div>
