<% content_for :submenu do %>
  <ul id="subnav">
    <li id="disciplines-link" class="link first"><%= link_to "Disciplines", '/courses/disciplines' %></li>
    <li id="infos-link" class="link active last"><%= link_to "Infos", '/courses' %></li>
  </ul>
<% end %>
