---
title: Jeet Academy | Infos
selected_menu: 'courses'
---
<%= partial 'courses/submenu' %>

<div class="main-content">
  <h2 class="molot">Infos pratiques</h2>
  <table class="mceItemTable">
    <thead>
      <tr>
        <th class="first"></th>
        <th>Lundi<br/>LLN</th>
        <th>Mardi</th>
        <th>Mercredi<br />BXL</th>
        <th>Jeudi<br/>LLN</th>
        <th>Vendredi<br />BXL</th>
        <th>Samedi<br/>LLN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Jeet Kune Do</th>
        <td>-</td>
        <td>-</td>
        <td>19h-21h <br/>BXL</td>
        <td>-</td>
      <td>19h-21h<BR />BXL</td>
        <td>-</td>
      </tr>
      <tr>
        <th>Sanda</th>
        <td>20h-21h</td>
        <td>-</td>
        <td>-</td>
        <td>
          19h-20h <br/> <small>Avancé</small> <br/> <br/>
          21h-22h
        </td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th>MMA</th>
        <td>-</td>
        <td>20h-21h30</td>
        <td>-</td>
        <td>20h-21h </td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th>Kickboxing Femmes</th>
        <td>18h-19h</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th>Kickboxing</th>
        <td>19h-20h</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th>Kali & Silat</th>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>11h-13h <br /> <small> Avancé</small></td>
      </tr>
    </tbody>
  </table>

  <p>*Pour accéder aux cours avancés de Sanda, Kali ou Silat, il faut avoir reçu un niveau 1 et avoir l'accord de l'instructeur.
  <p>**Cours où l'on combine la boxe philippine, le silat, le sanda et le muay thai.</p>
  <h3 class="molot">Ou?</h3>
  <div class="maps-box">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2518.952974356412!2d4.441545415512413!3d50.8505550795326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3dc9b76f9c3e1%3A0xd045a7b343329db6!2sAvenue+Chapelle-aux-Champs+67%2C+1200+Woluwe-Saint-Lambert%2C+Belgique!5e0!3m2!1sfr!2sus!4v1507443162772" width="180" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="mask-maps">&nbsp;</div>
  </div>
  <address class="adr"><span class="street-address">67 avenue Chappelle-aux- Champs</span><br> <span class="postal-code">1200</span> <span class="locality">Bruxelles</span><br> <span class="country-name">Belgique</span></address>
  <p><a class="btn molot" title="Go to the maps" href="https://www.google.com/maps/place/Avenue+Chapelle-aux-Champs+67,+1200+Woluwe-Saint-Lambert,+Belgique/@50.8505551,4.4415454,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3dc9b76f9c3e1:0xd045a7b343329db6!8m2!3d50.8505551!4d4.4437341">See on Google Maps</a></p>
  <div class="clear">&nbsp;</div>
  <div class="maps-box">
    <iframe width="180" height="150" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=1,+Place+des+sports+1348+Louvain-la-Neuve&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=59.119059,134.912109&amp;ie=UTF8&amp;hq=&amp;hnear=Place+des+Sports,+Louvain-La-Neuve+1348+Ottignies-Louvain-la-Neuve,+Brabant+Wallon,+R%C3%A9gion+wallonne,+Belgique&amp;t=m&amp;z=14&amp;ll=50.670015,4.601587&amp;output=embed"></iframe>
    <div class="mask-maps">&nbsp;</div>
  </div>
  <address class="adr"><strong>Centre Sportif de Blocry</strong><br> <span class="street-address">1, Place des sports</span><br> <span class="postal-code">1348</span> <span class="locality">Louvain-la-Neuve</span><br> <span class="country-name">Belgique</span></address>
  <p><a class="btn molot" title="Go to the maps" href="https://maps.google.com/maps?q=1,+Place+des+sports+1348+Louvain-la-Neuve&hl=fr&ie=UTF8&sll=37.0625,-95.677068&sspn=59.119059,134.912109&hnear=Place+des+Sports,+Louvain-La-Neuve+1348+Ottignies-Louvain-la-Neuve,+Brabant+Wallon,+R%C3%A9gion+wallonne,+Belgique&t=m&z=16" data-mce-href="https://maps.google.com/maps?q=1,+Place+des+sports+1348+Louvain-la-Neuve&amp;hl=fr&amp;ie=UTF8&amp;sll=37.0625,-95.677068&amp;sspn=59.119059,134.912109&amp;hnear=Place+des+Sports,+Louvain-La-Neuve+1348+Ottignies-Louvain-la-Neuve,+Brabant+Wallon,+R%C3%A9gion+wallonne,+Belgique&amp;t=m&amp;z=16">See on Google Maps</a></p>
  <div class="clear">&nbsp;</div>
  <h3 class="molot">Public</h3>
  <p>Tous nos entraînements sont accessibles dès l'âge de 15 ans. Hormis les cours avancés, les cours sont mixtes et accessibles à tous les niveaux.</p>
  <h3 class="molot">Materiel</h3>
  <p>Voir page <a href="http://jeetacademy.com/courses/disciplines" data-mce-href="/courses/disciplines">disciplines</a></p>
</div>

