---
title: Jeet Academy | Infos
selected_menu: 'courses'
---
<%= partial 'courses/submenu' %>

<div class="main-content">
  <h2 class="molot">Infos pratiques</h2>
  <table class="mceItemTable">
    <thead>
      <tr>
        <th class="first"></th>
        <th>Lundi<br/>LLN</th>
        <th>Mardi<br/>BXL</th>
        <th>Mercredi</th>
        <th>Jeudi<br/>LLN</th>
        <th>Vendredi<br />BXL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Jeet Kune Do</th>
        <td>18h-19h <br>19h-20h</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      <td>19h-20h30</td>
      </tr>
      <tr>
        <th>Sanda & MMA</th>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>19h-20h*</td>
        <td>-</td>
      </tr>
      <tr>
        <th>Boxe Chinoise - Sanda</th>
        <td>20h-21h</td>
        <td>-</td>
        <td>-</td>
        <td>20h-21h</td>
        <td>-</td>
      </tr>
      <tr>
        <th>Arts Martiaux Philippins</th>
        <td>-</td>
        <td>19h-20h30</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>

  <p>*Sanda & MMA niveaux 2 et 3 (accessible avec l'accord de l'instructeur) </p>
  <h3 class="molot">Ou?</h3>
  <div class="maps-box">
    <iframe width='180' height='150' frameborder='0' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2518.9337564365474!2d4.457060000000006!3d50.850910950000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3dc8710e747dd%3A0xef29f3b5034bffb2!2sIES+Parnasse-Deux+Alice%2C+1200+Woluw%C3%A9-Saint-Lambert%2C+Belgique!5e0!3m2!1sfr!2sus!4v1422211175914" width="400" height="300" frameborder="0" style="border:0"></iframe>
    <div class="mask-maps">&nbsp;</div>
  </div>
  <address class="adr"><strong>Institut Parnasse-ISEI</strong><br> <span class="street-address">84 Avenue Mounier</span><br> <span class="postal-code">1200</span> <span class="locality">Bruxelles</span><br> <span class="country-name">Belgique</span></address>
  <p><a class="btn molot" title="Go to the maps" href="https://www.google.com/maps/place/IES+Parnasse-Deux+Alice,+1200+Woluw%C3%A9-Saint-Lambert,+Belgique/@50.850911,4.45706,17z/data=!3m1!4b1!4m6!1m3!3m2!1s0x47c3dc871b9a7db5:0xc74896a2a110942d!2sAsbl+Parnasse-isei!3m1!1s0x47c3dc8710e747dd:0xef29f3b5034bffb2?hl=fr" target="_blank" data-mce-href="https://www.google.com/maps/place/IES+Parnasse-Deux+Alice,+1200+Woluw%C3%A9-Saint-Lambert,+Belgique/@50.850911,4.45706,17z/data=!3m1!4b1!4m6!1m3!3m2!1s0x47c3dc871b9a7db5:0xc74896a2a110942d!2sAsbl+Parnasse-isei!3m1!1s0x47c3dc8710e747dd:0xef29f3b5034bffb2?hl=fr">See on Google Maps</a></p>
  <div class="clear">&nbsp;</div>
  <div class="maps-box">
    <iframe width="180" height="150" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=1,+Place+des+sports+1348+Louvain-la-Neuve&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=59.119059,134.912109&amp;ie=UTF8&amp;hq=&amp;hnear=Place+des+Sports,+Louvain-La-Neuve+1348+Ottignies-Louvain-la-Neuve,+Brabant+Wallon,+R%C3%A9gion+wallonne,+Belgique&amp;t=m&amp;z=14&amp;ll=50.670015,4.601587&amp;output=embed"></iframe>
    <div class="mask-maps">&nbsp;</div>
  </div>
  <address class="adr"><strong>Centre Sportif de Blocry</strong><br> <span class="street-address">1, Place des sports</span><br> <span class="postal-code">1348</span> <span class="locality">Louvain-la-Neuve</span><br> <span class="country-name">Belgique</span></address>
  <p><a class="btn molot" title="Go to the maps" href="https://maps.google.com/maps?q=1,+Place+des+sports+1348+Louvain-la-Neuve&hl=fr&ie=UTF8&sll=37.0625,-95.677068&sspn=59.119059,134.912109&hnear=Place+des+Sports,+Louvain-La-Neuve+1348+Ottignies-Louvain-la-Neuve,+Brabant+Wallon,+R%C3%A9gion+wallonne,+Belgique&t=m&z=16" data-mce-href="https://maps.google.com/maps?q=1,+Place+des+sports+1348+Louvain-la-Neuve&amp;hl=fr&amp;ie=UTF8&amp;sll=37.0625,-95.677068&amp;sspn=59.119059,134.912109&amp;hnear=Place+des+Sports,+Louvain-La-Neuve+1348+Ottignies-Louvain-la-Neuve,+Brabant+Wallon,+R%C3%A9gion+wallonne,+Belgique&amp;t=m&amp;z=16">See on Google Maps</a></p>
  <div class="clear">&nbsp;</div>
  <h3 class="molot">Public</h3>
  <p>Jeet Kune Do et Sanda à partir de 16 ans. <br> Arts Martiaux Philippins à partir de 18 ans.</p><p>Hormis le cours de sanda niveaux 2 et 3, les cours sont mixtes et accessibles à tout le monde quels que soient le niveau et l'expérience.</p>
  <h3 class="molot">Materiel</h3>
  <p>Voir page <a href="http://jeetacademy.com/courses/disciplines" data-mce-href="/courses/disciplines">disciplines</a></p>
</div>

