---
title: Jeet Academy | Jeet Kune Do
selected_menu: 'courses'
selected_submenu: 'prive'
---

<%= partial 'courses/submenu' %>

<div class="main-content">
  <h4 class="din">David Bertrand donne des cours privés et propose des formations d'instructeur. Pour plus d'informations, veuillez prendre contact avec la Jeet Academy.</h4>
</div>
