---
title: Jeet Academy | Jeet Kune Do
selected_menu: 'courses'
selected_submenu: 'stage'
---

<%= partial 'courses/submenu' %>

<div class="main-content">
  <h4 class="din">David Bertrand donne des stages en Belgique et à l'étranger. Pour plus d'informations, veuillez prendre contact avec la Jeet Academy.</h4>
</div>
