---
title: Jeet Academy | Infos
selected_menu: 'courses'
selected_submenu: 'courses'
---

<%= partial 'courses/submenu' %>

<div class="main-content panels">
      <ul class="disciplines-panels">
        <li class="first">
          <span>
            <h2 class="molot hide">Sanda-Sanshou - Chinese kickboxing &amp; MMA</h2>
            Combinaison de coups de pieds, de coups de poings et de lutte.
            <%= link_to "Infos", '/courses/disciplines/sanda/', class: 'btn molot' %>
          </span>
        </li>
        <li>
          <h2 class="molot hide">Jeet Kune Do - Jun Fan Gung Fu</h2>
          Art martial complet, direct et efficace fondé par le légendaire Bruce Lee
            <%= link_to "Infos", '/courses/disciplines/jeet_kune_do/', class: 'btn molot' %>
        </li>
        <li class="last">
          <h2 class="molot hide">Filipino Martial Arts - Kali-escrima &amp; silat</h2>
          Techniques de combat et de défense au bâton, au couteau et à mains nues
            <%= link_to "Infos", '/courses/disciplines/silat/', class: 'btn molot' %>
        </li>
        <span class="panels-shadow"></span>
      </ul>
      <h2 class="molot">Disciplines</h2>

      <p>
        Les trois disciplines martiales enseignées à la Jeet Academy combinent le développement technique, la condition physique, le combat sportif et la self-défense.
      </p>
      <p>
        Elles sont à la fois différentes et complémentaires : chacune possède ses techniques, ses méthodes d'entraînement et ses objectifs spécifiques, tout en ayant des points communs entre elles.
      </p>
      <p>
         Ensemble ces disciplines permettent une approche martiale complète. Les élèves sont encouragés à s'entrainer dans ces trois disciplines, mais il n'est pas obligatoire de les suivre toutes car elles sont enseignées de manière séparée.
      </p>
      <p>
        La Jeet Academy propose une formation reconnue et de qualité pour chaque cours.
        Un système de certification étalé sur plusieurs années est mis en place dans le but de favoriser la progression et l'évaluation de chaque élève sur le long terme.

      </p>
      <span class="light-corner-border"></span>
    </div>
