---
title: Jeet Academy | Jeet Kune Do
selected_menu: 'courses'
selected_submenu: 'jeetkunedo'
---

<%= partial 'courses/disciplines/submenu' %>

<div class="main-content">
      <h2 class="molot">Jeet Kune Do - Jun Fan gung fu</h2>
      <div class="picture-box last">
        <%= image_tag 'courses/disciplines/1.jpg', width: 180, height: 150, alt: 'Dan Inosanto kali silat training' %>
        <div class="mask-picture"></div>
      </div>
      <div class="row"></div>

      <h3 class="din">La voie du poing qui intercepte</h3>
      <p>
        Développé à Los Angeles à partir de 1967 par le légendaire Bruce Lee à partir de différents arts martiaux, dont principalement le wing chun,
        la boxe anglaise et l’escrime occidentale, le Jeet Kune Do (JKD) est autant une philosophie martiale originale qu’un art unique et complet.
        Il se caractérise par son efficacité et la simplicité de ses principes.
      </p>
      <p>
        Son nom vient du cantonais qui signifie la voie (Do) du poing (Kune ou Kuen) qui intercepte (Jeet).
        Le Jun Fan Gung Fu quant à lui signifie littéralement le « Kung Fu de Bruce Lee » et fait référence à tout ce que Bruce Lee pratiquait et
        enseignait aux USA de 1959 à 1967. Pour englober l’art de Bruce Lee dans son ensemble, on parle aussi de Jun Fan Jeet Kune Do.
        Au niveau pratique, le JKD met l’accent sur les poings et les pieds (Kickboxing), les techniques de combat rapproché à mains nues (Trapping)
        ainsi que certaines techniques de lutte debout et au sol (Grappling). Le tout dans une perspective de condition physique, d’apprentissage
        technique et de self-défense.
        <br>
        Le JKD permet de développer la fluidité, l’explosivité, la coordination, la précision, la puissance,
        les réflexes et la rapidité.
      </p>
      <p>
        Il propose un riche éventail de techniques de frappes, de déviations, d’esquives, de blocages et de déplacements,
        mais également de saisies, de clés, de balayages et de projections. En dehors des trois cités ci-dessus,
        les principaux arts martiaux ayant influencé de près ou de loin Bruce Lee et le JKD sont le kung fu, la boxe française,
        la boxe thaïlandaise, la lutte ou encore le jiu jitsu.
      </p>
      <p>
        A la Jeet Academy, le cours est directement issu de l'enseignement de Sifu Dan Inosanto, heritier du Jun Fan Jeet Kune Do et légende
        des Arts Martiaux.
      </p>

      <h4 class="din">Matériel requis pour le cours</h4>
      <ul class="no-style">
        <li>T-shirt noir</li>
        <li>Pantalon d’entraînement noir</li>
        <li>Baskets ou chaussures d’arts martiaux</li>
        <li>Gants de boxe</li>
        <li>Pattes d’ours (cibles de frappe)</li>
        <li>Protèges tibias</li>
        <li>Coquille</li>
      </ul>

      <span class="light-corner-border"></span>
    </div>
