---
title: Jeet Academy | Sanda
selected_menu: 'courses'
selected_submenu: 'sanda'
---

<%= partial 'courses/disciplines/submenu' %>

<div class="main-content">
      <h2 class="molot">Sanda</h2>
      <div class="picture-box">
        <%= image_tag 'courses/disciplines/10_Cung_Le_vs_Scott_Smith.jpg', width: 180, height: 150, alt: 'Cung Lee vs Scott Smith' %>
        <div class="mask-picture"></div>
      </div>

      <h3 class="din">Le sanda, appelé aussi sanshou, est le combat libre chinois </h3>
      <p>
        Le sanda inclut des techniques de poings issues de la boxe, des techniques de coups de pieds issus du Kung Fu
        et des techniques de saisies, balayages et projections issues de la lutte chinoise.
        Le mot sanda signifie « combat libre » en chinois.
        <br>
        A la fois technique et physique, le sanda est un sport complet et de contact. Il développe la condition physique, l’endurance,
        la combativité, la souplesse, la fluidité, la puissance et l’agilité, et favorise la maîtrise du corps et des émotions.
        Le cours de sanda à la Jeet Academy se déroule en une partie échauffement, une partie d’exercices à effectuer par deux,
        et une partie sparring (combats d’entraînement). L’entraînement est à la fois orienté vers la formation de pratiquants et d’instructeurs.
        <br />
        Ce cours a été créé par David Bertrand à partir de sa propre expérience de pratiquant et de combattant.
        Il s'inspire également de l'enseignement d'Alexis Houtondji, de Thomas Diagne et de Cung Le, des combattants de référence et
        de dimension internationale.
        <br/>
        A un niveau plus avancé le cours de Sanda propose une introduction au MMA afin de rendre la pratique du combat sportif plus complète et plus moderne.
        <br/>
        Pour ceux qui le souhaitent et qui ont le niveau, l’entraînement peut aussi être orienté vers la formation de combattants
        avec la possibilité de se préparer et de participer à des compétitions. La compétition à la Jeet Academy n’est cependant pas considérée
        comme un objectif en soi mais comme un moyen de progresser et d’acquérir de l’expérience.
      </p>

      <h4 class="din">Matériel requis pour le cours</h4>
      <ul class="no-style">
        <li>T-shirt</li>
        <li>Short</li>
        <li>Gants de boxe</li>
        <li>Protèges tibias</li>
        <li>Coquille</li>
        <li>Protège dents</li>
      </ul>
      <p>
        Le sanda se pratique <strong>pieds nus et sur tatamis</strong>. Prévoir une <strong>bouteille d’eau</strong> pour s’hydrater à l’entraînement.
      </p>

      <span class="light-corner-border"></span>
    </div>
