---
title: Jeet Academy | Silat
selected_menu: 'courses'
selected_submenu: 'silat'
---

<%= partial 'courses/disciplines/submenu' %>

<div class="main-content">
      <h2 class="molot">Arts martiaux philippins</h2>
      <div class="picture-box">
        <%= image_tag 'courses/disciplines/dan_inosanto.jpg', width: 180, height: 150, alt: 'Dan Inosanto kali silat training' %>
        <div class="mask-picture"></div>
      </div>

      <h3 class="din">Kali, Eskrima et Silat</h3>
      <p>
        Les arts martiaux philippins sont généralement appelés Kali, Arnis ou Esckrima.
        Le Silat, issu de Malaisie, des Philippines et d'Indonésie en fait aussi partie. C'est le Maphilindo Silat.
        Les arts martiaux philippins sont spécialisés dans les techniques avec armes, essentiellement le bâton court et le couteau,
        mais on y travaille également les techniques à mains nues,
        le tout dans une perspective d’apprentissage technique et de self-défense.
        Ces arts sont unanimement reconnus pour leur efficacité dans le combat avec armes et à mains nues.
        <br>
      </p>
      <p>
        Ils permettent de développer la coordination, la fluidité, la sensibilité, les réflexes, la rapidité, la précision et la dextérité.
        Les arts martiaux philippins sont à la fois exigeants et ludiques: exigeants parce qu’ils demandent du temps,
        de la volonté et de la patience pour acquérir les bases ; ludiques parce qu’une fois les bases acquises, ils deviennent agréables à pratiquer.
        D’un point de vue martial, ils sont considérés comme des arts très complets, réalistes et très riches techniquement,
        ce qui les rend particulièrement intéressants, notamment en self-défense.
      </p>
      <p>
        Le cours du jeudi se focalise sur les techniques à mains nues issues du Panantukan, la Boxe Philipinne, et du Silat.
        La partie avec armes ne se donne qu'en groupe restreint et de manière privée.

        <br />
        A la Jeet Academy, l'enseignement se base sur plusieurs styles de Kali et de Silat mais il est principalement issu de l'enseignement de Guro Dan Inosanto, une référence mondiale
        dans ces disciplines.
        <br/>
      </p>

      <h4 class="din">Matériel requis pour le cours</h4>
      <ul class="no-style">
        <li>T-shirt</li>
        <li>Pantalon d’entraînement,</li>
        <li>Baskets ou chaussures d’arts martiaux</li>
        <li>Deux bâtons courts</li>
        <li>Couteau d’entraînement (non coupant)</li>
        <li>Pattes d’ours (cible de frappe)</li>
        <li>Coquille</li>
        <li>gants de sac.</li>
      </ul>

      <span class="light-corner-border"></span>
    </div>
