---
title: Jeet Academy | Silat
selected_menu: 'courses'
selected_submenu: 'silat'
---

<%= partial 'courses/disciplines/submenu' %>

<div class="main-content">
      <h2 class="molot">Arts martiaux philippins</h2>
      <div class="picture-box">
        <%= image_tag 'courses/disciplines/dan_inosanto.jpg', width: 180, height: 150, alt: 'Dan Inosanto kali silat training' %>
        <div class="mask-picture"></div>
      </div>

      <h3 class="din">Kali, Eskrima et Silat</h3>
      <p>
        Les arts martiaux issus des Philippines sont généralement appelés Kali, Arnis ou Esckrima.
        Il existe également du Silat philippin, même si le Silat fait généralement référence aux arts martiaux malais et indonésiens.
        Les arts martiaux philippins sont spécialisés dans les techniques avec armes, essentiellement le bâton court et le couteau,
        mais on y travaille également les techniques à mains nues issues de la boxe et de la lutte philippines,
        le tout dans une perspective d’apprentissage technique et de self-défense.
        Ces arts sont unanimement reconnus pour leur efficacité dans le combat avec armes et à mains nues.
        <br>
      </p>
      <p>
        Ils permettent de développer la coordination, la fluidité, la sensibilité, les réflexes, la rapidité, la précision et la dextérité.
        Les arts martiaux philippins sont à la fois exigeants et ludiques: exigeants parce qu’ils demandent du temps,
        de la volonté et de la patience pour acquérir les bases ; ludiques parce qu’une fois les bases acquises, ils deviennent agréables à pratiquer.
        D’un point de vue martial, ils sont considérés comme des arts très complets et très riches techniquement,
        ce qui les rend particulièrement intéressants.
      </p>
      <p>
        A la Jeet Academy, le cours se base sur plusieurs styles de Kali et de Silat mais il est principalement issu de l'enseignement de Guro Dan Inosanto, une référence mondiale
        dans les Arts Martiaux Philippins.
      </p>

      <h4 class="din">Matériel requis pour le cours</h4>
      <ul class="no-style">
        <li>T-shirt</li>
        <li>Pantalon d’entraînement,</li>
        <li>Baskets ou chaussures d’arts martiaux</li>
        <li>Deux bâtons courts</li>
        <li>Couteau d’entraînement (non coupant)</li>
        <li>Pattes d’ours (cible de frappe)</li>
        <li>Coquille</li>
        <li>gants de sac.</li>
      </ul>

      <span class="light-corner-border"></span>
    </div>
