---
title: Jeet Academy | David Bertrand
selected_menu: 'academy'
selected_submenu: 'team'
---

<%= partial 'academy/submenu' %>
<div class="main-content">

  <h2 class="molot">David Bertrand</h2>
  <div class="picture-box">
    <%= image_tag "academy/David_Bertrand.jpg" %>
    <div class="mask-picture"></div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p> </p><p> David Bertrand </p><ul> <li>Commence les arts martiaux en 1994.</li> <li>Donne cours depuis 2001.</li> </ul> <p></p> <p> Disciplines enseignées&nbsp; </p><ul> <li>Jeet Kune Do – Jun Fan Gung Fu</li> <li>Arts martiaux philippins&nbsp;-  Kali/Eskrima</li> <li>Sanda – Boxe Chinoise</li> </ul> <p></p> <p> Disciplines pratiquées </p><ul> <li>Wing Chun</li> <li>Silat</li> <li>Boxe Thaï</li> <li>Boxe Française</li> <li>Boxe anglaise</li> <li>Jiu Jitsu brésilien</li> <li>MMA</li> </ul> <p></p> <p> Certificats, titres et grades </p><ul> <li>Instructeur en Jeet Kune Do et Jun Fan Gung Fu certifié par Christophe Cornaz en 2005</li> <li>Instructeur en Jeet Kune Do et Jun Fan Gung Fu certifié par Dan Inosanto en 2010</li> <li>Instructeur en Arts Martiaux Philippins certifié par Christophe Cornaz en 2007</li> <li>Instructeur en Arts Martiaux Philippins certifié par Dan Inosanto en 2010</li> <li>Instructeur de Sanda</li> <li>Champion de Belgique de Sanda</li> <li>Une participation au championnat du monde de Sanda</li> <li>16 combats en Sanda&nbsp;dont 11 victoires</li> <li>4 combats amateurs en MMA dont 2 victoires</li> <li>Ikat brun en Maphilindo Silat</li> <li>Ceinture bleue en jiu jitsu bésilien</li> </ul> <p></p> <p></p>
  <span class="light-corner-border"></span>

</div>
