---
title: Jeet Academy | David Bertrand
selected_menu: 'academy'
selected_submenu: 'team'
---

<%= partial 'academy/submenu' %>
<div class="main-content">
  <h2 class="molot">David Bertrand</h2>
  <div class="header-picture-box">
    <%= image_tag "academy/David_Bertrand.jpg", height: 266, width: 400 %>
  </div>
  <p> </p><h3> David Bertrand </h3>
  <ul>
    <li>Commence les arts martiaux en 1994</li>
    <li>Donne cours depuis 2001</li>
    <li>Fonde la Jeet Academy en 2009</li>
  </ul>
  <p></p>
  <p> <u>Disciplines enseignées</u>&nbsp; </p>
  <ul>
    <li>Jeet Kune Do – Jun Fan Gung Fu</li>
    <li>Kali/Escrima</li>
    <li>Silat</li>
    <li>Sanda</li>
    <li>MMA</li>
  </ul>
  <p></p>
  <p> <u>Disciplines pratiquées</u> </p>
  <ul>
    <li>Wing Chun</li>
    <li>Muay Thaï - Muay Boran</li>
    <li>Boxe Française</li>
    <li>Boxe anglaise</li>
    <li>Jiu Jitsu brésilien</li>
    <li>Lutte et Grappling</li> </ul>
  <p></p>
  <p> <u>Certificats, titres et grades</u> </p><ul>
    <li>Instructeur en Jeet Kune Do & Jun Fan Gung Fu certifié par Sifu Dan Inosanto</li>
    <li>Instructeur en Arts Martiaux Philippins certifié par Guro Dan Inosanto</li>
    <li>Ikat noir en Maphilindo/Madjapahit Silat reçu de Guro Dan Inosanto</li>
    <li>Instructeur de Sanda & de MMA</li>
    <li>Champion de Belgique de Sanda</li>
    <li>Une participation au championnat du monde de Sanda</li>
    <li>16 combats en Sanda&nbsp;dont 11 victoires</li>
    <li>4 combats amateurs en MMA dont 2 victoires</li>
    <li>Ceinture bleue en jiu jitsu bésilien</li>
  </ul> <p></p> <p></p>
  <span class="light-corner-border"></span>

</div>
