---
title: Jeet Academy | Philosophy
selected_menu: 'academy'
selected_submenu: 'team'
---

<%= partial 'academy/submenu' %>

<div class="main-content">

    <h3 class="molot">Team</h3>
    <ul class="team">

      <li class="picture-box">
        <h4 class="din"><%= link_to "David Bertrand", '/academy/team/david_bertrand/' %></h4>
        <ul>
          <li>Fondateur</li>
          <li>Responsable</li>
          <li>Instructeur principal</li>
      </ul>
      </li>
      <li class="picture-box">
        <h4 class="din"><%= link_to "Instructeurs et assistants", '/academy/team/others/' %></h4>
      </li>

    </ul>

  <span class="light-corner-border"></span>
</div>

