---
title: Jeet Academy | Instructeurs et Assistantsj
selected_menu: 'academy'
selected_submenu: 'team'
---

<%= partial 'academy/submenu' %>
<div class="main-content">

  <h2 class="molot">Instructeurs et Assistants</h2>
  <div class="header-picture-box">
    <%= image_tag "academy/team.jpg" %>
    <div class="header-mask-picture"></div>
  </div>
  <p>Jeet Kune Do</p>
  <ul>
    <li>Steve Barbieux Instructeur associé</li>
    <li>Ludovic Molitor Instructeur</li>
    <li>Damien Molitor Instructeur</li>
    <li>Patrice Wyns Instructeur</li>
    <li>Jihad Ben Abbes Assistant</li>
    <li>Thomas Philippe Assistant</li>
    <li>Benjamin Benne Assistant</li>
    <li>Alexandre Derep Assistant</li>
    <li>Diego Gonzalez Assistant</li>
    <li>Diego Benitez Assistant</li>
  </ul>
  <br />
  <p>Sanda</p>
  <ul>
    <li>Ludovic Molitor Instructeur</li>
    <li>Charles Göbel Instructeur</li>
    <li>Pierre Haim Instructeur</li>
    <li>Yaelle Bruneau Instructrice</li>
    <li>David Gonzalez Assistant</li>
    <li>Thomas Philippe Assistant</li>
    <li>Arnaud Maillot-Remesy Assistant</li>
    <li>Mikael Declerq Assistant</li>
    <li>Laurent Vandercoilden Assistant</li>
    <li>Steve Barbieux Assistant</li>
    <li>Florin Hossu Assistant</li>
  </ul>
  <br />
  <p>Arts Martiaux Philippins</p>
  <ul>
    <li>Ludovic Molitor Instructeur associé</li>
    <li>Steve Barbieux Instructeur</li>
    <li>Damien Molitor Instructeur</li>
    <li>Hicham Aboulfadel Assistant</li>
    <li>Florin Hossu Assistant</li>
  </ul>
  <span class="light-corner-border"></span>

</div>
