---
title: Jeet Academy | Instructeurs et Assistantsj
selected_menu: 'academy'
selected_submenu: 'team'
---

<%= partial 'academy/submenu' %>
<div class="main-content">

  <h2 class="molot">Instructeurs et Assistants</h2>
  <div class="header-picture-box">
    <%= image_tag "academy/team.jpg" %>
    <div class="header-mask-picture"></div>
  </div>
  <p>Jeet Kune Do</p>
  <ul>
    <li>Steve Barbieux Apprenti instructeur niveau 4</li>
    <li>Ludovic Molitor Apprenti instructeur niveau 2</li>
    <li>Damien Molitor Apprenti instructeur niveau 1</li>
    <li>Patrice Wyns Assistant niveau 1</li>
    <li>Ben Abbes Jihad Assistant niveau 1</li>
    <li>Neji Yassine Assistant niveau 1</li>
    <li>Florin Hossu Assistant niveau 1</li>
  </ul>
  <br />
  <p>Sanda</p>
  <ul>
    <li>Laurent Vandercoilden Assistant niveau 3</li>
    <li>Steve Barbieux Assistant niveau 3</li>
    <li>Ludovic Molitor Assistant niveau 3</li>
    <li>Charles Göbel Assistant niveau 3</li>
    <li>Pierre Haim Assistant niveau 3</li>
    <li>Yaelle Bruneau Assistante niveau 2</li>
    <li>Florin Hossu Assistant niveau 1</li>
  </ul>
  <br />
  <p>Arts Martiaux Philippins</p>
  <ul>
    <li>Ludovic Molitor Apprenti Instructeur niveau 2</li>
    <li>Steve Barbieux Apprenti Instructeur niveau 1</li>
    <li>Damien Molitor Apprenti Instructeur niveau 1</li>
    <li>Sophie Bertolami Assistante niveau 1</li>
    <li>Florin Hossu Assistant niveau 1</li>
  </ul>
  <span class="light-corner-border"></span>

</div>
