<% content_for :submenu do %>
  <ul id="subnav">
    <li id="livre-link" class=<%= "'link first #{'active' if current_page.data.selected_submenu == 'livre'}'" %>><%= link_to "Livre", '/media/livre/' %></li>
    <li id="liens-link"    class=<%= "'link       #{'active' if current_page.data.selected_submenu == 'links'}'" %>><%= link_to "Liens", '/media/links/' %></li>
    <li class='link last'><a target='_blank' href="http://www.youtube.com/user/jeetkunedavid/videos" class="youtube">Videos</a></li>
  </ul>
<% end %>
