---
title: Jeet Academy | Livre
selected_menu: 'media'
selected_submenu: 'livre'
---
<%= partial 'media/submenu' %>
<div class="main-content">
  <div class="header-picture-box">
    <a href='http://www.imagepublique-editions.net/' target='_blank'>
      <%= image_tag "Couv1Bertrand.jpg", width: 550, height: 650, alt: 'Dan Inosanto kali silat training'%>
    </a>
  </div>
  <div class="header-mask-picture">&nbsp;</div>
</div>


