---
title: Jeet Academy | Liens
selected_menu: 'media'
selected_submenu: 'links'
---
<%= partial 'media/submenu' %>
<div class="main-content">

  <h2 class="molot">Liens</h2>
  <ul class='links' style='font-size: 2em;'>
    <li><a target='_blank' href='http://www.wingchunbeddar.com/accueil.php3'> Didier Beddar - Wing chun</a></li>
    <li><a target='_blank' href='http://www.mastro-silat.be'> Frédérick Mastro – Silat Defense System </a></li>
    <li><a target='_blank' href='http://inosanto.com'> Dan Inosanto – Inosanto Academy of Martial Arts </a></li>
    <li><a target='_blank' href='http://bruceleefoundation.com/'> Bruce Lee : www.brucelee.com</a></li>
    <li><a target='_blank' href='http://cungle.com/'>Cung Le - Sanda et MMA</a></li>
    <li><a target='_blank' href='http://migeneva.ch/'> Institut Martial de Genève - Kali/Silat/Jeet Kune Do</a></li>
    <li><a target='_blank' href='http://athletic-studio.be/'> Alexis Houtondji - Sanda & MMA</a></li>
    <li><a target='_blank' href='www.tarecsaffiedine.com'> Tarec Saffiedine - MMA</a></li>
    <li><a target='_blank' href='http://www.xtma.org'> Daniel Lonero XTMA - Kali/Silat/Jeet Kune Do</a></li>
    <li><a target='_blank' href='http://www.gspofficial.com/'> Georges-St-Pierre - MMA</a></li>
  </ul>

  <span class="light-corner-border"></span>
</div>

