---
title: Jeet Academy | Articles
selected_menu: 'media'
selected_submenu: 'livre'
---
<%= partial 'media/submenu' %>
<div class="main-content">
  <p style='font-size: 2em'>
    Sortie du livre de David Bertrand en octobre 2014!
  </p>
</div>

